<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/assets/assets.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include ('partials/nav') %>
    <h1>Welcome to The INDEX PAGE!</h1>
    <p>You will find everything You wanna know here!!</p>
  </body>
</html>
